.App {
  background-color: #E5E5E5;
  min-height: 100vh;
  padding: 80px;
}

.form {
  background-color: #FFFFFF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 30px;
  width: 100%;
  &__title {
    font-size: 30px;
    font-weight: normal;
    line-height: 40px;
  }
}

@media screen and (min-width: 960px){
  .form {
    width: 70%;
    margin: auto;
  }
}
