.button {
  background: linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  outline: none;
  padding: 5px 10px;
  border: 0;
  &:focus {
    box-shadow: 0 0 0 2px rgba(#45A5FF, .5);
  }
  &:hover:not([disabled]) {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.15)
    ), linear-gradient(
        180deg,
        #45A6FF 0%,
        #0055FB 100%
    ), #C4C4C4;
  }
  &[disabled] {
    background: #C4C4C4;
    cursor: not-allowed;
  }
}
