/* D&D styles */
.drag-and-drop {
  position: relative;
  &__overlay {
    border: .1rem dashed #777;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    border-radius: .4rem;
    &__text {
      color: #5e35b1;
      font-weight: 600;
      font-size: 1.6rem;
    }
  }
}

/* File preview styles */
.file-preview {
  display: flex;
  flex-wrap: wrap;
  &__item {
    flex-basis: calc(50% - 10px);
    padding: 10px 0 10px 60px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    &:last-child {
      margin-right: 0;
    }
  }
  &__remove {
    color: #FF6666;
    border: none;
  }
}
