.drag-and-drop {
  position: relative;
  &__overlay {
    border: .1rem dashed #777;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    border-radius: .4rem;
    &__text {
      color: #5e35b1;
      font-weight: 600;
      font-size: 1.6rem;
    }
  }
}
