.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  &__label {
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.6);
  }
  &__input {
    border: 1px solid #DDDDDD;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 30px;
    &[type=file] {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
  }
  &__textarea {
    resize: none;
  }
  &__error-message {
    color: #f64747;
  }
}
